.page {
  position: relative;
  padding: 0;
  margin: 0;
}
.page-poster {
  height: 100vh;
  width: 100%;
  background: yellow;
  position: absolute;
  top: -100vh;
  left: 0;
}
.page-poster--1 {
  background: url("../../img/esquina_latina_hq1.jpg") no-repeat center center fixed;
}
.page-poster--2 {
  background: url("../../img/esquina_latina_hq2.jpg") no-repeat center center fixed;
}
.page-poster--1,
.page-poster--2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-content {
  position: relative;
  margin-top: 100vh;
  background: white;
}
.page-content p,
.page-content h2,
.page-content h3,
.page-content iframe {
  padding: 10px;
}
.page-logo {
  text-align: center;
}
.portrait .page-poster--1 {
  height: 50vh;
  top: -50vh;
  background-position: center -25vh;
}
.portrait .page-content--1 {
  margin-top: 50vh;
}
.portrait .page-logo--1 {
  display: none;
}
.page-content p,
.page-content h2,
.page-content h3 {
  padding: 10px;
}
body {
  padding: 0;
  margin: 0;
}
.footer {
  background: red;
  position: relative;
  z-index: 1;
}
