.page {
  position: relative;
  padding: 0;
  margin: 0;
}
.page-poster {
  height: 100vh;
  width: 100%;
  background: yellow;
  position: absolute;
  top: -100vh;
  left: 0;
}
.page-poster--1 {
  background: url("../../img/esquina_latina_hq1.jpg") no-repeat center center fixed;
}
.page-poster--2 {
  background: url("../../img/esquina_latina_hq2.jpg") no-repeat center center fixed;
}
.page-poster--1,
.page-poster--2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-content {
  position: relative;
  margin-top: 100vh;
  min-height: 100vh;
  background: green;
}
body {
  padding: 0;
  margin: 0;
}
.footer {
  background: red;
  position: relative;
  z-index: 1;
}
